*{
    margin: 0;
    padding: 0;
}
.header{
    height: 55vh;
    width: 100%;
    
    background-image:linear-gradient(rgba(0,0,0,0.75),black) ,url('back12.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.navl{
    flex: 1;
    text-align: right;
}
.navl ul li{
    list-style: none;
    display: inline-block;
    padding:  8px 12px;
    position: relative;
}
.navl ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
 border: 10px;
    border-color: white;
    margin: 10px;
    transition: 0.3s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.navl ul li a:hover{
    color: rgb(203, 203, 203);
    
}
.navl ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: rgb(203, 203, 203);
    display: block;
    margin: auto;
    transition: 0.3s;
}
.navl ul li:hover::after{
    width: 100%;
}
.hw{
    width: 60px;
    margin-left: -30px;
}
.img{
    height: 100px;
    width: 900px;
    margin-left: 290px;

}
p{
    color: rgb(192, 184, 184);
}
h1{
    text-align: center;
    color: white;
    font-size: 50px;
}
.p{
    /* width: 900px; */
    margin-left: 60px;
    margin-right: 60px;
    text-align: justify;
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgb(60,15,15);

}
pre{
    color: rgb(192, 184, 184);
    margin-left: 30px;
}
.pay{
    margin-left: 650px;
    height: 50px;
    width: 150px;
    font-size: 20px;
    background-color: blue;
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 100px;
    box-shadow: 3px 3px 3px blue;
    border: none;
    cursor: pointer;
    width: 200px;
    
}
.pre{
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgb(60,15,15);
    width: 250px;
    margin-left: 60px;

}